/* 
    Created on : 21/11/2014, 14:07:46
    Author     : Diego
*/
.contenedor{
    width: 60%;
    margin:10px auto;
}
#tablaConfig{
    width: 100%;
}
#tablaConfig tbody tr td.celdaCheckbox{
    text-align: center;
}
#tablaConfig thead tr td .checkbox{
    float:left;
    margin-left: 2px;
    margin-right: 8px;
    margin-top:4px;
}
#tablaConfig tbody tr td .checkbox{
    float:right;
    margin-right: 2px;
    margin-top: 4px;
}
#btnActualizar{
    margin-top: 10px;
    float:right;
}